.heading{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
}
.logo-container img{
    width: 100px;
}
.nav-list > ul {
    display: flex;
    list-style-type: none;
}
.nav-list > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.resto-container{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.res-card{
    background-color: lightgrey;
    padding: 5px;
    width: 185px;
    max-width: 250px;
    margin: 5px;
    overflow: hidden;
}
.res-card img{
    width: 100%;
    height: 200px;
}
.shim-conta{
    display: flex;
    flex-wrap: wrap;
}
.shim-card{
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
}

.login-btn{
    padding: 0px 20px;
}

.filter-rest{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}
.top-rated{
    padding-left: 5px;
}